<% content_for :head do %>
  Sign in
<% end %>
<% content_for :navigation do %>
    <%= render :partial => 'environments/home_menu'%>
<% end %>
<section id="services_signin" class="services">
  <p>
    You can sign up or sign in using one of your existing accounts at Google or Yahoo. Please select the provider you want to use:
  </p>

  <div>
    <%= render "services_list" %>
  </div>

  <p class="clear">
    Don't have any of these accounts? Get your  <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %> now!
  </p>
</section>